 <ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5">
        <table>
            <thead>
                <tr>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Nombre receta</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Dificultad</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Autor</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Telefono</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Correo</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Imagenes</p>
                    </th>
                    <th>
                        <p class="text-sm leading-6 text-gray-900">Acciones</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let datoRec of srvRecetas.almacenadorD" >
                    <td style="border-color: #E7B3A4;">
                        {{datoRec.str_receta_nombre}}
                    </td>
                    <td>
                        {{datoRec.str_receta_dificultad}}
                    </td>
                    <td>
                       {{datoRec.str_autor_nombre}}
                    </td>
                    <td>
                        {{datoRec.str_autor_telefono}}
                    </td>
                    <td>
                        {{datoRec.str_autor_correo}}
                    </td>
                    <td>
                        {{datoRec.str_receta_image}}
                    </td>
                    <td>
                        <div class="but" >
                            <button type="button" 
                                style="background-color: #E7B3A4; color: #000000;width: 30px; border-radius: 5px; height: 25px;"
                                onmouseover="this.style.backgroundColor='#CF3A58'; this.style.color='#FFFFFF';"
                                onmouseout="this.style.backgroundColor='#E7B3A4'; this.style.color='#000000';"
                               
                            >
                                <i class="material-icons">remove_red_eye</i>
                            </button>
            
                            <button type="button" 
                            (click)="modificarReceta(datoRec.id_receta)"
                                style="background-color: #E7B3A4; color: #000000;width: 30px; border-radius: 5px; height: 25px; "
                                onmouseover="this.style.backgroundColor='#CF3A58'; this.style.color='#FFFFFF';"
                                onmouseout="this.style.backgroundColor='#E7B3A4'; this.style.color='#000000';"
                               
                            >
                                
                                <i class="material-icons">create</i>
                            </button>

                            <button type="button" 
                                style="background-color: #E7B3A4; color: #000000; width: 30px;border-radius: 5px; height: 25px;"
                                onmouseover="this.style.backgroundColor='#CF3A58'; this.style.color='#FFFFFF';"
                                onmouseout="this.style.backgroundColor='#E7B3A4'; this.style.color='#000000';">
                                
                                <i class="material-icons">delete</i>
                            </button>
                        </div>  
                    </td>
                </tr>

            </tbody>
        </table>
         <!-- Columna 1 de Nombre receta-->
      <!-- <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de nombre receta</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Pie de limon </p>
      </div>
 
        Columna 2 de dificultad
        <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Columna de dificultad</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">2</p>
        </div>

        Columna 3 de autor
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de autor</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Pepito Perez</p>
      </div>

        Columna 4 de telefono
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de telefono</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">0964069144</p>
      </div>
        
      Columna 5 de correo
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de correo</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">pepito.perez@espoch.edu.ec</p>
      </div>

      Columna 6 para imagenes
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de imagenes</p>
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      </div>

      Columna 7 de acciones
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">Columna de acciones</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Aqui van las acciones</p>
      </div>
    </li>
  </ul>
-->
    </li>
</ul>